@page
@model CodeConversations.Pages.IndexModel
@{
    ViewData["Title"] = "Code Conversations";
}

<h1>The Bot is Up!</h1>
<p>
    The bot is now up and running. You can return to Microsoft Teams and have a Code Conversation.
</p>